// Styles start here
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400&display=swap');

@import 'header.scss';
@import 'cart.scss';

* { 
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* (62.5/100) * 16px = 10px */
    --font-size--x-small: 1.2rem; /* 12px */
    --font-size--small: 1.4rem; /* 14px */
    --font-size--default: 1.6rem; /* 16px */
    --font-size--large: 2.4rem; /* 24px */
}

html {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0 auto;
    padding: 0;

    body {
        background: #fff;
        margin: inherit;
        padding: inherit;

        .wrapper {
            width: 100%;
            margin: 0 auto;

            button {    
                cursor: pointer;
            
                &.buy {
                    font-weight: 400;
                    text-transform: uppercase;
                    background: #448AFF;
                    color: #fff;
                    border: 0;
                    box-shadow: 0px 2px 4px 0 #d4d4d4;
                    border-radius: .3rem;
                    padding: 1rem;
                }
            
                &.bin {
                    background: transparent;
                    border: 0;
                    box-shadow: none;
                }
            }
            
        }
    }
}
