header {
    position: relative;
    width: 100%;
    box-shadow: 0px 2px 8px 2px #d4d4d4;
    padding: 2rem;

    #mobile-nav {
        float: right;

        button {
            font-weight: 400;
            text-transform: uppercase;
            display: block;

            p {
                display: inline-block;
                margin: 0;
                padding: 0;
                font-size: var(--font-size--small);
                vertical-align: middle;
            }

            span {
                display: inline-block;
                margin: .25rem 0 0 1.5rem;
                vertical-align: middle;
            }
        }
    }

    nav {
        float: right;
        text-align: right;

        &#nav-menu {
            display: none;
            position: absolute;
            top: 5rem;
            right: 1rem;
            padding: 0 1rem;
            background: #fff;
            border: 1px solid #979797;
            border-radius: .5rem;
        }    
    
        a {            
            display: block;
            font-size: var(--font-size--x-small);
            font-weight: 200;
            text-decoration: none;
            text-transform: uppercase;
            color: #000;
            margin: 1.5rem 0;
        }
    }

    @media (min-width: 43em) {
        height: 112px;
        padding: 4.2rem;

        #mobile-nav {
            display: none;
        }

        nav {
            text-align: left;
            display: block;
            border: 0;
            border-radius: 0;

            &#nav-menu {
                display: block;
                position: relative;
                top: unset;
                left: unset;
                padding: 0;
                background:transparent;
                border: 0;
                border-radius: 0;
            }  

            a {
                display: inline-block;
                padding: 0 0 0 2rem;
                margin: 0;
                vertical-align: middle;
    
                &:first-child {
                    padding-left: 0;
                }
            }
        }

    }
}